body {
    text-align: center;
    font-size: 60px;
}

table,
td {
    border: 1px solid black;
}

table {
    white-space: nowrap;
    width: 100%;
}

svg {
    vertical-align: text-top;
}

input[type="range"],
span {
    height: 30px;
}

input[type="range"] {
    width: 50%;
}